**DATA TYPES AND STRUCTURES**

***Theoretical Questions***

1. What are data structures, and why are they important?
   - Data structures are ways of organizing and storing data in a computer so it can be accessed and modified efficiently.
They are important because they optimize data processing, enable efficient algorithms, and allow programmers to manage large amounts of data effectively (e.g., lists, stacks, queues, trees, graphs).

2. Explain the difference between mutable and immutable data types with examples.
  - Mutable: Can be changed after creation.
  Example: list = [1, 2, 3] → list[0] = 10 (modified).
* *Immutable:* Cannot be changed after creation.
  Example: tuple = (1, 2, 3) → You cannot modify tuple[0].

3. What are the main differences between lists and tuples in Python?
 - Lists: Mutable, slower, use more memory, written as [ ].
* *Tuples:* Immutable, faster, memory-efficient, written as ( ).

4. Describe how dictionaries store data?
   - Dictionaries store data as **key-value pairs**. Keys are unique, and values are accessed using keys. Internally, dictionaries use **hash tables** for fast lookup.

5.  Why might you use a set instead of a list in Python?
  -  Sets automatically remove duplicates.
* Faster membership testing (in) due to hash-based storage.

* Useful for mathematical operations like union, intersection, and difference.

6. What is a string in Python, and how is it different from a list?
   - String: Sequence of characters, immutable. Example: "hello".
    -  List: Sequence of elements (can be mixed types), mutable. Example: [1, "a", 3].

7. How do tuples ensure data integrity in Python?
   - Since tuples are **immutable**, their values cannot be altered, which helps preserve fixed data (like coordinates or constant records).

8. What is a hash table, and how does it relate to dictionaries in Python?
   - A hash table is a data structure that maps keys to values using a **hash function**.
Dictionaries in Python are implemented using hash tables, allowing for average *O(1) time complexity* for lookups.

9. Can lists contain different data types in Python?
    -  Yes, lists can store elements of mixed data types. Example: [1, "hello", 3.5, True].

10. Explain why strings are immutable in Python.
    - Strings are immutable because modifying them would require reallocating memory. This improves efficiency, security, and allows strings to be used as keys in dictionaries.

11.  What advantages do dictionaries offer over lists for certain tasks?
 - Faster lookups (O(1) vs O(n) for lists).
* Data stored with meaningful keys instead of numeric indexes.

* Better suited for representing mappings (e.g., student roll number → name).

12. Describe a scenario where using a tuple would be preferable over a list.
    - When storing **fixed data** that should not change, e.g., storing geographical coordinates (28.61, 77.23) for a location.

13. How do sets handle duplicate values in Python?
    - Sets **automatically remove duplicates**. Example: {1, 2, 2, 3} → {1, 2, 3}.

14. How does the “in” keyword work differently for lists and dictionaries?
  - List:* Checks if a value exists in the list.
  Example: 3 in [1, 2, 3] → True.
* *Dictionary:* Checks if a key exists in the dictionary.
  Example: "name" in {"name": "Priya"} → True.

15.  Can you modify the elements of a tuple? Explain why or why not.
     - No, tuples are **immutable**, so once created, their elements cannot be changed.

16. What is a nested dictionary, and give an example of its use case?
    - A dictionary inside another dictionary.

  Example:

python
students = {
  "101": {"name": "Priya", "age": 20},
  "102": {"name": "Rahul", "age": 22}
}


**Use case**: Storing structured data like student records.

17. Describe the time complexity of accessing elements in a dictionary.
    - On average, dictionary element access is **O(1)** due to hashing. In the worst case (hash collisions), it can be **O(n)**.

18. In what situations are lists preferred over dictionaries?
-  When order matters.
* When storing sequential data (e.g., marks [80, 90, 85]).

* When keys are not required.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - Dictionaries (before Python 3.7) did not guarantee order. Since retrieval is based on keys, the order of insertion doesn’t matter. In modern Python (3.7+), insertion order is preserved, but dictionaries are still conceptually unordered.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

* *List:* Accessed by index (list[0]), slower for searching (O(n)).
* *Dictionary:* Accessed by key (dict["name"]), faster lookups (O(1)).

***Practical Questions***

1. Write a code to create a string with your name and print it.

In [1]:
name = "Priya Shukla"
print(name)

Priya Shukla

2. Write a code to find the length of the string "Hello World".

In [2]:
text = "Hello World"
print(len(text))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
text = "Python Programming"
print(text[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [4]:
word = "hello"
print(word.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [5]:
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

6.  Write a code to create a list with numbers 1 to 5 and print it.

In [6]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [7]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [8]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [9]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [10]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11.  Write a code to create a tuple with the elements 100, 200, 300 and print it

In [11]:
my_tuple = (100,200,300)
print(my_tuple)

(100, 200, 300)

12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [12]:
my_tuple = ( 'red', 'greem', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
print(second_to_last_element)

blue

13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [15]:
numbers = (10, 20, 5, 15)
minimum_number = min(numbers)
print (minimum_number)

5

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [16]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [23]:
fruits = ("apple", "banana", "orange")
if "kiwi" in fruits:
    print("kiwi is in the tuple.")
else:
    print("kiwi is not in the tuple.")

kiwi is not in the tuple.

16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [24]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [25]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [26]:
my_set = {1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [27]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}
union_set = set_a.union(set_b)
print(union_set)

{1, 2, 3, 4, 5}

20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [28]:
set1 ={1, 2, 3}
set2 ={2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [29]:
person_info = {"name": "Alice", "age": 25, "city": "New York"}
print(person_info)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [30]:
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [31]:
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print(name_value)

Alice

24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [33]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [34]:
person_info = {'name': 'Alice', 'city': 'Paris'}

if 'city' in person_info:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [36]:
# Create a list
my_list = [1, 2, 3, "apple", "banana"]

# Create a tuple
my_tuple = (10, 20, "cherry", True)

# Create a dictionary
my_dictionary = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

# Print the list
print("My List:", my_list)

# Print the tuple
print("My Tuple:", my_tuple)

# Print the dictionary
print("My Dictionary:",my_dictionary)

My List: [1, 2, 3, 'apple', 'banana']
My Tuple: (10, 20, 'cherry', True)
My Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}

27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [41]:
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[2, 6, 29, 43, 90]

28.  Write a code to create a list with strings and print the element at the third index.

In [42]:
my_list = ["apple", "banana", "chery", "date", "elderberry"]
print(my_list[3])

date

29.  Write a code to combine two dictionaries into one and print the result.

In [43]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30.  Write a code to combine two dictionaries into one and print the result.

In [44]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = dict1 | dict2
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}